.component {
  margin: 0 auto;
  max-width: 1200px;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction:column;
  padding-top: 80px;
}
#input {
  height: 70px;
  font-size: 25px;
  max-width: 300px;
}